.classifier-container{
  margin: 20px;
  border-radius : 10px;
  background: var(--bs-light);;
}

.level-one-clild, .level-two-clild, .level-three-clild{
  background: var(--bs-secondary);
  font-size: bold;
}

.level-one-clild-posts, .level-two-clild-posts, .level-three-clild-posts{
  
}

/****** Levels Title ******/
.level-one-clild{
  padding-right: 10px;
} 

.level-two-clild{
  padding-right: 20px;
} 

.level-three-clild {
  padding-right: 30px;
} 

/****** Posts ******/
.level-one-clild-posts li {
  list-style-type: none;
} 

.level-two-clild-posts li{
  list-style-type: none;
}

.level-three-clild-posts li{
  list-style-type: none;
} 