.classifier-container{
  margin: 20px;
  border-radius : 10px;
  background: var(--bs-light);;
}

.level-one-clild, .level-two-clild, .level-three-clild{
  padding: 5px;
  margin: 5px;
  font-weight: bold;
  border-radius: 5px 0 0 5px;
  border-right : 5px solid var(--bs-warning);
}

.level-one-clild-posts, .level-two-clild-posts, .level-three-clild-posts{
  margin: 0;
  border-right : 5px solid var(--bs-warning);
}

/****** Levels Title ******/
.level-one-clild{
  background: var(--bs-gray-900);
  color: white;
} 

.level-two-clild{
  margin-right: 30px; 
  background: var(--bs-gray-700);
  color: white;
} 

.level-three-clild {
  margin-right: 60px; 
  background: var(--bs-gray-400);
  color: white;
} 

/****** Posts ******/
ul {
  list-style-type: none;
}

li {
  padding: 5px;
  margin: 5px;
  border: 0.5px solid gray;
  border-radius: 5px 0 0 5px;
}

.level-one-clild-posts {
  argin-right: 10px; 
} 

.level-two-clild-posts {
  argin-right: 20px; 
}

.level-three-clild-posts {
  argin-right: 30px; 
} 